
{% block content1 %}
<h1>Menu</h1>

{% for menu_item in menu_items %}
<div>
  
    <h2>{{ menu_item.date }}</h2>
    <p> BREAKFAST:{{ menu_item.breakfast}}</p>
    <p>LUNCH:{{ menu_item.lunch}}</p>
    <p>DINNER:{{ menu_item.dinner}}</p>
    <form method="POST" action="{% url 'rating1' menu_item.id %}">
        {% csrf_token %}
        <label for="rating">Want to submit feedback and rating</label>
        <select name="rating" id="rating">
            <option value="1">Y</option>
            <option value="2" >N</option>
            
            
        </select>
        <button type="submit">Submit</button>
    </form>
  
    
  
</div>
{% endfor %}
{% endblock %}
